@charset "utf-8";

//  Pages > _resumeComponent
// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

// portfolio
#filters {
  margin: 1rem 0 0;
  list-style: none;

  li {
    display: inline-block;
    vertical-align: bottom;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: .5rem;

    span {
      display: block;
      padding: .25rem 1.25rem;
      text-decoration: none;
      color: $grey-600;
      cursor: pointer;
      border: 1px solid $grey-300;
      border-radius: 4px;
      font-size: 0.9375rem;
      transition: $transition-base;
      user-select: none;

      &.active {
        background-color: $primary;
        border: 1px solid $primary;
        color: $white;
        font-size: 1.125rem;
        @include text-comic($dark);
        letter-spacing: 1.5px;

        &:hover {
          color: $white;
          background-color: lighten($primary, 10%);
        }
      }

      &:not(.active):hover {
        color: $primary;
        border: 1px solid $primary;
      }
    }
  }
}

#portfolioList {
  position: relative;
  font-size: 0;
  transition: $transition-base;

  .portfolio-item {
    display: none;
    overflow: hidden;
    margin-top: 1rem;
    margin-bottom: .75rem;
    padding: 0.5rem;
    vertical-align: top;
    width: 33.33333%;
    transition: $transition-base;

    @media (max-width: $screen-md-min) {
      width: 50%;
    }

    @media (max-width: $screen-xs-min) {
      width: 100%;
    }

    .portfolio-card {
      border-radius: 4px;

      .hovereffect {
        border-radius: 4px;
        width: 100%;
        height: 100%;
        overflow: hidden;
        text-align: center;
        cursor: pointer;

        &:hover {
          .overlay {
            opacity: 1;
            filter: alpha(opacity = 100);
          }
        }

        &:hover img {
          transform: scale(1.1);
        }

        img {
          display: block;
          transition: all .2s linear;
        }

        .overlay {
          width: 100%;
          height: 100%;
          position: absolute;
          overflow: hidden;
          top: 0;
          left: 0;
          opacity: 0;
          transition: all 0.2s ease-in-out;

          &.app {
            background-color: rgba($secondary, 0.8);
          }

          &.web {
            background-color: rgba($primary, 0.8);
          }

          &.logo {
            background-color: rgba($info, 0.8);
          }

          &.widget {
            background-color: rgba($success, 0.8);
          }

          .hovereffect-title {
            color: $white;

            @include position-ab-center;

            width: 100%;
            padding: 0 1rem;
            transition: all .5s ease-in-out;
          }
        }
      }
    }

    .badge.badge.badge.badge {
      opacity: 0.6;
    }

    h6 {
      font-size: 1.125rem;
      margin-top: .5rem;
    }

    [aria-expanded="true"] {
      transform: rotate(180deg);
      background-position: left top;
    }

    .description,
    .collapse {
      color: $grey;
      padding-left: .5rem;
      border-left: 3px solid $grey-200;
      font-size: .875rem;
      margin-top: 0.75rem;
      margin-bottom: .5rem;

      small {
        display: block;
        margin-top: 0.5rem;
        filter: grayscale(0.5);
      }
    }

    p {
      color: $lightgrey;
      font-size: .75rem;
      margin-top: .25rem;
      margin-bottom: .5rem;
    }

    .btn {
      margin-bottom: .5rem;

      .ic--draw.ic--draw.ic--draw.ic--draw.ic--draw,
      .ic--xd.ic--xd.ic--xd.ic--xd.ic--xd {
        width: 1rem;
        height: 1rem;
        display: inline-block;
        vertical-align: bottom;

        // filter: grayscale(1);
        transition: $transition-base;
        margin-right: .25rem;
        background-repeat: no-repeat;
        background-size: 100%;
      }

      .ic--draw.ic--draw.ic--draw.ic--draw.ic--draw {
        opacity: 0.66;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='100' height='100' viewBox='0 0 100 100'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Cpath id='Path_344862' data-name='Path 344862' d='M17.708,0H82.292A17.925,17.925,0,0,1,100,18.162V81.838A17.925,17.925,0,0,1,82.292,100H17.708A17.925,17.925,0,0,1,0,81.838V18.162A17.925,17.925,0,0,1,17.708,0Z' transform='translate(3560 1796)' fill='%23470137'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='ic-draw-io' transform='translate(-3560 -1796)' clip-path='url(%23clip-path)'%3E%3Cg id='draw' transform='translate(3560 1796)'%3E%3Cpath id='Path_344859' data-name='Path 344859' d='M100,95.73A4.278,4.278,0,0,1,95.73,100H4.27A4.278,4.278,0,0,1,0,95.73V4.27A4.278,4.278,0,0,1,4.27,0H95.73A4.278,4.278,0,0,1,100,4.27V95.73Z' fill='%23f08705'/%3E%3Cg id='Group_222486' data-name='Group 222486' transform='translate(14.295 13.861)'%3E%3Cpath id='Path_344860' data-name='Path 344860' d='M108.805,104.269a4.278,4.278,0,0,1-4.27,4.27H43.026L23.1,88.3,35.476,68.068,72.234,22.4l36.448,37.562Z' transform='translate(-23.1 -22.4)' fill='%23df6c0c'/%3E%3C/g%3E%3Cpath id='Path_344861' data-name='Path 344861' d='M89.816,63.2H79.3L68.158,44.262A5.441,5.441,0,0,0,72.49,38.94V24.646A5.414,5.414,0,0,0,67.044,19.2H48.48a5.414,5.414,0,0,0-5.446,5.446V38.94a5.4,5.4,0,0,0,4.27,5.322l-11.139,19H25.646A5.414,5.414,0,0,0,20.2,68.7V83a5.414,5.414,0,0,0,5.446,5.446H44.21A5.414,5.414,0,0,0,49.655,83V68.7a5.414,5.414,0,0,0-5.446-5.446H42.415L53.43,44.448h8.6L73.108,63.259H71.252A5.414,5.414,0,0,0,65.806,68.7V83a5.414,5.414,0,0,0,5.446,5.446H89.816A5.414,5.414,0,0,0,95.262,83V68.7A5.467,5.467,0,0,0,89.816,63.2Z' transform='translate(-7.7 -7.319)' fill='%23fff'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      }

      .ic--xd.ic--xd.ic--xd.ic--xd.ic--xd {
        opacity: 0.4;
        filter: grayscale(1);
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 240 234'%3E%3Cpath fill='%23470137' d='M43 0h155a42 42 0 0 1 42 43v149a42 42 0 0 1-42 42H43a42 42 0 0 1-43-42V43A42 42 0 0 1 43 0Z' data-name='Path 344856'/%3E%3Cg fill='%23ff61f6'%3E%3Cpath d='m126 62-30 49 32 53a2 2 0 0 1 0 1h-24l-3-1-6-13-7-12-7-13h-1l-6 13-7 12-7 13-2 1H35a1 1 0 0 1 0-1l31-51-30-52v-1a1 1 0 0 1 1 0h23a6 6 0 0 1 1 0 3 3 0 0 1 1 1l6 13 7 13 7 12 7-12 7-13c3-4 4-9 6-13a2 2 0 0 1 1-1 2 2 0 0 1 1 0h21a1 1 0 0 1 2 1l-1 1Z' data-name='Path 344857'/%3E%3Cpath d='M172 167a50 50 0 0 1-21-4 35 35 0 0 1-15-14c-4-6-6-14-6-23a41 41 0 0 1 6-21 42 42 0 0 1 16-15c7-4 15-6 25-6a18 18 0 0 1 2 0h3V52l1-1h21a1 1 0 0 1 1 1v107a2 2 0 0 1-1 2 76 76 0 0 1-16 5 88 88 0 0 1-16 1Zm10-20v-44a26 26 0 0 0-2 0l-4-1a25 25 0 0 0-11 3 22 22 0 0 0-9 7c-2 3-3 8-3 13a28 28 0 0 0 2 10 20 20 0 0 0 4 7 17 17 0 0 0 7 4 26 26 0 0 0 8 2h5a9 9 0 0 0 3-1Z' /%3E%3C/g%3E%3C/svg%3E");
      }

      &:hover {
        .ic--draw.ic--draw.ic--draw.ic--draw.ic--draw,
        .ic--xd.ic--xd.ic--xd.ic--xd.ic--xd {
          filter: grayscale(0);
          opacity: 1;
        }
      }
    }

    .contact-img {
      position: relative;
    }
  }
}

// Components
.re-bot-container.re-bot-container.re-bot-container {
  position: absolute;
  right: 0;
  top: -2rem;
}

.re-bot.re-bot.re-bot.re-bot.re-bot.re-bot.re-bot {
  width: 12rem;
  height: 12rem;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 900 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='.052' y1='.406' x2='.829' y2='.399' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23ebf4fc' /%3E%3Cstop offset='.65' stop-color='%23dde1e5' /%3E%3Cstop offset='1' stop-color='%23cfcfcf' /%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='.027' y1='.791' x2='.873' y2='.796' xlink:href='%23a' /%3E%3ClinearGradient id='c' x1='.139' y1='.472' x2='.673' y2='.489' xlink:href='%23a' /%3E%3ClinearGradient id='d' x1='.573' y1='.466' x2='-.001' y2='.405' xlink:href='%23a' /%3E%3C/defs%3E%3Cg id='bot_container'%3E%3Cg%3E%3Cpath d='M456.47 803.208c68.712 0 124.5 13.219 124.5 29.5s-55.788 29.5-124.5 29.5-124.5-13.219-124.5-29.5 55.788-29.5 124.5-29.5Z' fill='%23c4c4c4' opacity='.6' /%3E%3Canimate attributeName='opacity' values='0;0.6;0' dur='4s' repeatCount='indefinite' /%3E%3C/g%3E%3Cpath d='M167.47 266.208c30.63 0 55.5 30.919 55.5 69s-24.87 69-55.5 69-55.5-30.919-55.5-69 24.87-69 55.5-69ZM736.47 266.208c30.63 0 55.5 30.919 55.5 69s-24.87 69-55.5 69-55.5-30.919-55.5-69 24.87-69 55.5-69Z' fill='%23e1e1e1' /%3E%3Cpath d='M-27 31c-12.374 0-137-11-152.678 71.948C-187.857 146.221-182 234-132.269 283.359-93.714 321.625-38.15 319.708-25 320c13.544.3 78.754 2.6 116.483-35.5C137.323 238.206 148 146 137.742 101.155 122.561 34.789 24 31-27 31Z' fill='url(%23a)' transform='translate(472.97 453.208)' /%3E%3Cpath d='M449.47 489.208c62.641 0 113.5 14.563 113.5 32.5s-50.859 32.5-113.5 32.5-113.5-14.563-113.5-32.5 50.859-32.5 113.5-32.5Z' fill='%23d1d1d1' /%3E%3Cpath d='M242-226c-118-182-448-148-526 8-28.425 56.851-76 212 106 232 34.319 3.771 318 2 318 2s74.563-4.029 110.406-56.457C277.4-79.944 284.021-161.188 242-226Z' fill='url(%23b)' transform='translate(472.97 453.208)' /%3E%3Cpath d='M683.054 317.208v34c0 35.322-29.47 64-65.766 64H295.652c-36.3 0-65.766-28.678-65.766-64v-34c0-35.322 29.47-64 65.766-64h321.636c36.296 0 65.766 28.678 65.766 64Z' fill='%232b2b3f' /%3E%3Cpath d='M481.97 253.458c-1.383 5.531 6.5 105.25-74 159.25h223s49 2 52-80.5c1.508-41.476-14.25-77.5-57.75-78.5s-143.25.25-143.25-.25Z' fill='%2333334d' /%3E%3Cpath d='M332.97 304.208v57a18.009 18.009 0 0 1-18 18 18.009 18.009 0 0 1-18-18v-57a18.009 18.009 0 0 1 18-18 18.009 18.009 0 0 1 18 18ZM610.97 304.208v57a18.009 18.009 0 0 1-18 18 18.009 18.009 0 0 1-18-18v-57a18.009 18.009 0 0 1 18-18 18.009 18.009 0 0 1 18 18Z' fill='%2346e6f2' /%3E%3Cpath d='M-242.5 83.5c-59 73-38.5 160.5-30.5 187.5 4.5 15.177 24.014 20.423 34.735 14.283 8.352-4.783 8.81-19.03 9.265-24.283 9-104 24-153 28-164 1.863-5.123-.533-17.848-9.355-21.364-10.121-4.036-27.275 1.839-32.145 7.864Z' fill='url(%23c)' transform='translate(472.97 453.208)' /%3E%3Cpath d='M-242.5 83.5c-59 73-38.5 160.5-30.5 187.5 4.5 15.177 24.014 20.423 34.735 14.283 8.352-4.783 8.81-19.03 9.265-24.283 9-104 24-153 28-164 1.863-5.123-.533-17.848-9.355-21.364-10.121-4.036-27.275 1.839-32.145 7.864Z' fill='url(%23d)' transform='rotate(-170 234.92 281.424)' /%3E%3Cg fill='%231262c8'%3E%3Cpath d='M104.651 112.443v-4.225l-1.426-.429a30.049 30.049 0 0 1-5.388-2.235l-1.315-.7-2.99 2.986a7.375 7.375 0 1 1-10.431-10.429l2.986-2.991-.7-1.316a30 30 0 0 1-2.231-5.39l-.435-1.423h-4.223a7.38 7.38 0 0 1 0-14.759h4.223l.435-1.423a30 30 0 0 1 2.231-5.39l.7-1.316-2.988-2.986a7.378 7.378 0 0 1 10.434-10.434l2.99 2.991 1.315-.7a29.965 29.965 0 0 1 5.388-2.233l1.426-.434v-4.225a7.378 7.378 0 0 1 14.755 0v4.217l1.427.434a29.941 29.941 0 0 1 5.387 2.233l1.315.7 2.991-2.991a7.377 7.377 0 1 1 10.43 10.434l-2.986 2.986.7 1.316a29.93 29.93 0 0 1 2.231 5.39l.435 1.423h4.225a7.38 7.38 0 0 1 0 14.759h-4.225l-.435 1.423a29.928 29.928 0 0 1-2.231 5.39l-.7 1.316 2.988 2.986a7.378 7.378 0 0 1-10.433 10.436l-2.991-2.989-1.315.7a30.055 30.055 0 0 1-5.387 2.235l-1.427.429v4.225a7.381 7.381 0 0 1-5.719 7.19l-.225.048a7.531 7.531 0 0 1-1.433.14 7.386 7.386 0 0 1-7.378-7.369ZM91.236 78.912A20.813 20.813 0 0 0 112.028 99.7c.587 0 1.169-.024 1.727-.073a20.79 20.79 0 0 0 .021-41.435 20.523 20.523 0 0 0-1.749-.073 20.816 20.816 0 0 0-20.791 20.793Zm9.392 0a11.414 11.414 0 0 1 11.4-11.4c.323 0 .642.013.946.041h.011a11.4 11.4 0 0 1-.026 22.72 9.898 9.898 0 0 1-.931.041 11.414 11.414 0 0 1-11.4-11.404ZM839.774 443.287a4.823 4.823 0 0 1-2.762-6.226l.991-2.574-.77-.6a19.71 19.71 0 0 1-2.759-2.623l-.634-.738-2.522 1.12a4.816 4.816 0 0 1-3.908-8.8l2.522-1.118-.121-.967a19.684 19.684 0 0 1-.1-3.805l.071-.97-2.576-.991a4.817 4.817 0 0 1-2.763-6.226 5.063 5.063 0 0 1 .434-.858 4.832 4.832 0 0 1 5.79-1.905l2.576.991.6-.767a19.858 19.858 0 0 1 2.625-2.759l.738-.637-1.121-2.521a4.817 4.817 0 0 1 8.8-3.909l1.12 2.521.965-.118a19.209 19.209 0 0 1 3.805-.1l.971.07.987-2.572a4.816 4.816 0 1 1 8.989 3.459l-.986 2.572.763.6a19.633 19.633 0 0 1 2.761 2.623l.638.737 2.52-1.12a4.816 4.816 0 0 1 3.911 8.8l-2.524 1.123.121.965a19.776 19.776 0 0 1 .1 3.805l-.076.971 2.578.991a4.822 4.822 0 0 1 3.038 5.169l-.026.148a4.824 4.824 0 0 1-6.476 3.67l-2.572-.991-.6.768a19.558 19.558 0 0 1-2.623 2.758l-.74.637 1.123 2.522a4.817 4.817 0 1 1-8.8 3.909l-1.118-2.522-.969.121a19.488 19.488 0 0 1-3.8.1l-.971-.069-.992 2.572a4.812 4.812 0 0 1-6.226 2.765Zm4.578-37.532a13.5 13.5 0 0 0-7.193 6.684c-.165.338-.315.69-.453 1.049a13.571 13.571 0 1 0 25.33 9.753c.137-.359.26-.719.361-1.069a13.565 13.565 0 0 0-18.045-16.417Zm2.345 19.554a7.448 7.448 0 0 1-4.272-9.617c.076-.2.158-.387.247-.568l.005-.008a7.441 7.441 0 0 1 13.834 5.345c-.055.187-.12.383-.2.578a7.437 7.437 0 0 1-9.619 4.27Z' /%3E%3Canimate attributeName='opacity' values='0;1;0' dur='1.2s' repeatCount='indefinite' /%3E%3C/g%3E%3Cg fill='%23febd17'%3E%3Cpath d='m156.791 244.087-9.675-9.675-9.675 9.675-3.263-3.262 9.675-9.675-10.14-10.14 3.263-3.262 10.14 10.14 10.14-10.14 3.263 3.263-10.14 10.14 9.675 9.675ZM768.749 642.204l-3.263-3.262 9.674-9.676-10.138-10.14 3.263-3.262 10.138 10.139 10.137-10.139 3.263 3.262-10.138 10.14 9.674 9.676-3.263 3.262-9.673-9.675Z' /%3E%3Canimate attributeName='opacity' values='0;1;0' dur='1s' repeatCount='indefinite' /%3E%3C/g%3E%3Cg fill='%2348d7dd'%3E%3Cpath d='m89.221 506.508-8.566-8.566-8.566 8.566-2.888-2.889 8.566-8.566-8.979-8.979 2.889-2.889 8.979 8.979 8.979-8.979 2.889 2.889-8.979 8.979 8.566 8.566ZM42.703 296.21a18.9 18.9 0 0 1 7.4 1.494 18.946 18.946 0 0 1 6.043 4.072 18.94 18.94 0 0 1 4.072 6.042 18.889 18.889 0 0 1 1.495 7.4 18.886 18.886 0 0 1-1.5 7.4 18.942 18.942 0 0 1-4.074 6.041 18.947 18.947 0 0 1-6.036 4.072 18.9 18.9 0 0 1-7.4 1.495 18.89 18.89 0 0 1-7.4-1.495 18.942 18.942 0 0 1-6.041-4.073 18.942 18.942 0 0 1-4.075-6.04 18.89 18.89 0 0 1-1.494-7.4 18.893 18.893 0 0 1 1.495-7.4 18.94 18.94 0 0 1 4.073-6.041 18.941 18.941 0 0 1 6.042-4.073 18.893 18.893 0 0 1 7.4-1.494Zm0 33.4a14.306 14.306 0 0 0 10.181-4.216 14.3 14.3 0 0 0 4.219-10.176 14.3 14.3 0 0 0-4.217-10.179 14.307 14.307 0 0 0-10.183-4.215 14.3 14.3 0 0 0-10.18 4.215 14.3 14.3 0 0 0-4.22 10.179 14.3 14.3 0 0 0 4.22 10.178 14.3 14.3 0 0 0 10.18 4.216ZM784.931 256.084a6.294 6.294 0 0 1 6.287 6.287 6.294 6.294 0 0 1-6.287 6.287 6.294 6.294 0 0 1-6.287-6.287 6.294 6.294 0 0 1 6.287-6.287Zm0 8.487a2.2 2.2 0 0 0 2.2-2.2 2.2 2.2 0 0 0-2.2-2.2 2.2 2.2 0 0 0-2.2 2.2 2.2 2.2 0 0 0 2.2 2.2ZM375.683 86.121a5.751 5.751 0 0 1 5.744 5.744 5.751 5.751 0 0 1-5.744 5.744 5.751 5.751 0 0 1-5.744-5.744 5.751 5.751 0 0 1 5.744-5.744Zm0 8.488a2.747 2.747 0 0 0 2.744-2.744 2.747 2.747 0 0 0-2.744-2.744 2.747 2.747 0 0 0-2.744 2.744 2.747 2.747 0 0 0 2.744 2.744Z' /%3E%3Canimate attributeName='opacity' values='0;1;0' dur='.8s' repeatCount='indefinite' /%3E%3C/g%3E%3CanimateTransform attributeName='transform' begin='0s' type='translate' values='0;0 20;0' dur='4s' repeatCount='indefinite' /%3E%3C/g%3E%3C/svg%3E");
  transform: translate3d(0, 0, 0) scale(1) rotate(0deg);
  transition: $transition-base;
  cursor: pointer;
  z-index: 9;

  &:after {
    content: "";
    display: block;
    padding-top: 100%;
  }

  &:hover {
    transform: translate3d(-2rem, 0, 0) scale(1.05) rotate(-25deg);
    opacity: 0.72;
  }

  @media (max-width: $screen-sm-min) {
    transform: translate3d(0, 0, 0) scale(1) rotate(-20deg);
    right: -6rem;
    opacity: 0.48;
  }
  @media (max-width: $screen-xs-min) {
    transform: translate3d(0, 0, 0) scale(1) rotate(-30deg);
    right: -8rem;
    opacity: 0.24;
  }
}

.re-more {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='%233BC9DB' fill-rule='evenodd' d='M17 10v2l-4 3h-2l-4-3a1 1 0 0 1 1-2l4 4 4-4h1Z' clip-rule='evenodd'/%3E%3Cpath fill='%233BC9DB' fill-rule='evenodd' d='M12 4H5L4 5a103 103 0 0 0 0 14l1 1a103 103 0 0 0 14 0l1-1a103 103 0 0 0 0-14l-1-1h-7ZM5 2a104 104 0 0 1 14 0l3 3a104 104 0 0 1 0 14l-3 3a104 104 0 0 1-14 0l-3-3A104 104 0 0 1 2 5l3-3Z' clip-rule='evenodd'/%3E%3C/svg%3E");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 1rem;
  display: inline-block;
  margin-left: 0.75rem;
  position: absolute;
  right: 0;
  bottom: 0;
}

.mask.mask_wave_svg.mask_wave_svg {
  background-position: -2rem 2rem;
  background-size: 120%;
  background-image: url("data:image/svg+xml, %3Csvg id='waves' viewBox='0 0 1046 475' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cstyle%3E %23waves %7B stroke-dasharray: 3874 3874; stroke-dashoffset: 3874; animation: animation11 2s linear forwards; %7D @keyframes animation11 %7B to %7B stroke-dashoffset: 0; %7D %7D %3C/style%3E%3Cpath d='m1 283.595 114.675-3.489A424.157 424.157 0 0 0 389.52 168.698l51.329-47.09C534.226 35.943 661.013-3.486 786.503 14.114L1000.23 44.09' stroke='url(%23a)' stroke-width='19.961' /%3E%3Cpath d='m23.006 374.016 114.674-3.489a424.157 424.157 0 0 0 273.845-111.408l51.329-47.09c93.377-85.665 220.164-125.094 345.655-107.494l213.731 29.976' stroke='url(%23b)' stroke-width='19.961' /%3E%3Cpath d='m45.011 464.437 114.675-3.489A424.157 424.157 0 0 0 433.531 349.54l51.329-47.09c93.376-85.664 220.163-125.093 345.654-107.493l213.726 29.975' stroke='url(%23c)' stroke-width='19.961' /%3E%3Cdefs%3E%3ClinearGradient id='a' x1='662.878' y1='-323.635' x2='.991' y2='283.585' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FFFDAD' /%3E%3Cstop offset='.505' stop-color='%2353AD8C' /%3E%3Cstop offset='1' stop-color='%23505694' /%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='684.883' y1='-233.214' x2='22.997' y2='374.006' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FFFDAD' /%3E%3Cstop offset='.505' stop-color='%2353AD8C' /%3E%3Cstop offset='1' stop-color='%23505694' /%3E%3C/linearGradient%3E%3ClinearGradient id='c' x1='706.889' y1='-142.793' x2='45.002' y2='464.427' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FFFDAD' /%3E%3Cstop offset='.505' stop-color='%2353AD8C' /%3E%3Cstop offset='1' stop-color='%23505694' /%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
  opacity: 0.12;
}

.mask.mask_geometry_ani.mask_geometry_ani {
  position: absolute;
  right: -8rem;
  top: -10rem;
  left: auto;
  width: 20rem;
  height: 20rem;
  opacity: 0.20;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' id='Calque_1' x='0' y='0' version='1.1' viewBox='0 0 1000 1000' width='100%25' htight='100%25'%3E%3Cstyle%3E @keyframes stroke %7B 20%25 %7B stroke-dashoffset: 0 %7D 40%25 %7B stroke-dashoffset: -500 %7D %7D svg * %7B stroke-dasharray: 500; stroke-dashoffset: 500; animation: stroke 5s ease-in-out infinite; %7D %3C/style%3E%3Cpath fill='none' stroke='%23FFF' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='15' d='m200.7 251 1 77.3 77.3 1 .9 77.3 77.3.9 1 77.3 77.3 1M596 131.5l55.3 54 55.4-54 55.3 54 55.3-54 55.4 54 55.3-54m-200.5 436h100v100h-100zm163-239.5-100 100m0-100 100 100m-742 57v142M78 556.5h141M332.5 200V99.5H232zm226 432.8-71.1-71-71.4 71.4z'%3E%3C/path%3E%3Ccircle cx='311' cy='807' r='50' fill='none' stroke='%23FFF' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='15'%3E%3C/circle%3E%3Ccircle cx='562' cy='294' r='50' fill='none' stroke='%23FFF' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='15'%3E%3C/circle%3E%3Cpath fill='none' stroke='%23FFF' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='15' d='M512 816.5c36.6 0 36.6 52 73.2 52s36.6-52 73.2-52 36.6 52 73.3 52c36.6 0 36.6-52 73.3-52'%3E%3C/path%3E%3C/svg%3E");
}

.not-allowed {
  cursor: not-allowed;
}

#plugin {
  li {
    margin-bottom: 0.5rem;
  }
}

.icon-codepen {
  width: 1rem;
  height: 1rem;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3Csvg id='regular' fill='%23fff' enable-background='new 0 0 24 24' height='512' viewBox='0 0 24 24' width='512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m24 7.598c-.044-.264-.08-.47-.36-.641-11.449-6.791-11.287-7.297-12.03-6.848-8.677 5.394-11.092 6.597-11.439 7.017-.315.323-.171.818-.171 8.298-.021.851 7.743 5.462 11.519 8.404.333.237.752.199 1.003-.029 11.224-7.956 11.497-7.636 11.478-8.375 0 0-.012-7.927 0-7.826zm-1.5 6.491-3.876-2.359 3.876-2.697zm-5.277-3.212-4.473-2.722v-6.07l9.126 5.555zm-5.223 3.633-3.876-2.697 3.876-2.359 3.876 2.359zm-.75-12.426v6.074c-1.739 1.079-3.209 1.98-4.451 2.734l-4.675-3.252zm-5.857 9.658c-1.874 1.127-3.098 1.843-3.893 2.32v-5.029zm1.33.924 4.527 3.149v5.999l-9.126-6.349zm6.027 9.149v-5.999l4.527-3.149 4.599 2.799z'/%3E%3C/svg%3E");
}

.b-underline {
  text-decoration: underline;
  text-decoration-color: lighten($tertiary, 6);
  text-decoration-style: wavy;
  text-decoration-offset: 4px;
  transition: $transition-base;

  &:hover {
    text-decoration-color: darken($tertiary, 12);
  }
}

img:not([src]),
img[src=""] {
  filter: blur(0.5px);
  background: linear-gradient(110deg, $grey-100 8%, $white 18%, $grey-100 33%);
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 450 150'%3E%3Cdefs%3E%3Cfilter id='a' width='308' height='60' x='70' y='95' filterUnits='userSpaceOnUse'%3E%3CfeOffset dy='2'/%3E%3CfeGaussianBlur result='placeholder-aa' stdDeviation='6'/%3E%3CfeFlood flood-opacity='.1'/%3E%3CfeComposite in2='placeholder-aa' operator='in'/%3E%3CfeComposite in='SourceGraphic'/%3E%3C/filter%3E%3C/defs%3E%3Cg fill='%23737475'%3E%3Cpath d='M15 150a123 123 0 0 1 44-94c13-12 24 9 36 31 9 17 19 34 33 34 14 1 31-13 48-28 22-19 43-38 57-22l3 3a124 124 0 0 1 91-25 125 125 0 0 1 17 3 124 124 0 0 1 90 98Z' opacity='.1'/%3E%3Cpath d='M253 50v16l-5-4a6 6 0 0 0-8 0l-11 10a6 6 0 0 1-8 0l-1-1a6 6 0 0 0-7 0l-14 9a19 19 0 0 1-2-8V51c1-10 7-16 17-16h23c10 0 16 6 16 16Z' opacity='.2'/%3E%3Cpath d='M223 50a7 7 0 1 1-6-7 7 7 0 0 1 6 7Zm30 16v7c0 10-6 16-16 16h-23c-7 0-12-3-15-9l14-9a6 6 0 0 1 7 0l1 1a6 6 0 0 0 8 0l11-10a6 6 0 0 1 8 0Z' opacity='.4'/%3E%3Cpath d='M224 115a54 54 0 0 1-30-9 54 54 0 0 1-15-15 54 54 0 0 1 0-60 54 54 0 0 1 15-15 54 54 0 1 1 30 99Zm0-99a45 45 0 0 0-17 87 45 45 0 0 0 35-83 45 45 0 0 0-18-4Zm66 93c-2-4-6-6-12-6a12 12 0 0 0-10 5 12 12 0 0 0-1 11c2 8 7 9 9 10a7 7 0 0 0 1 0c3 0 7-2 11-7 3-5 4-10 2-13Z' opacity='.2'/%3E%3Cpath d='M96 115v19h-4v-19Zm27 0v19h-4v-16 1l-1 2-1 2-4 11h-3l-4-11-1-2v-1l-1-2v16h-3v-19h6l3 9 1 2v2l1 1v-1l1-2v-2l4-9Zm16 15h-8l-1 4h-4l6-19h6l6 19h-4Zm-1-2-3-10-3 10Zm17-4h8v4l-1 5-7 1q-5 0-7-2t-1-6v-8a5 5 0 0 1 3-2 15 15 0 0 1 5-1l7 1q2 1 1 5h-4v-3a8 8 0 0 0-4 0l-4 1-1 3v5l1 3 4 1 4-1v-3h-4Zm16-6v5h8v3h-8v5h9v3h-13v-19h13v3Zm40-3v19h-6l-5-10-2-3v-1l-1-2v16h-3v-19h6l4 10 2 3 1 1v2-16Zm13 0q5 0 6 2t2 7q0 7-2 8t-7 2q-5 0-6-2t-2-7q0-7 2-8t7-2Zm0 3-5 1v6l1 5 4 1 4-1v-11l-4-1Zm20 0v16h-4v-16h-5v-3h14v3Zm21 0v5h9v3h-9v8h-3v-19h12v3Zm21-3q5 0 7 2t1 7l-1 8-7 2q-6 0-7-2t-2-7q0-7 2-8t7-2Zm0 3-4 1-1 6 1 5 4 1 4-1 1-6-1-5-4-1Zm24-3h4v13q0 3-2 5t-6 1l-6-1-2-5v-13h4v13l1 2 3 1 4-1v-2Zm26 0v19h-6l-5-10-1-3-1-1v-2 16h-4v-19h6l5 10 2 3v1l1 2v-16Zm6 19v-19h9q4 0 5 2t2 6l-1 9q-1 2-6 2Zm3-3h5l4-1v-11l-3-1h-6Z' opacity='.7'/%3E%3Cg filter='url(%23a)'%3E%3Cpath fill='%23fff' d='M155 115a15 15 0 0 0-5 1 5 5 0 0 0-3 2v8l1 6 7 2 7-1q2-1 1-5v-4h-8v3h5l-1 3-4 1-4-1-1-3v-5l1-3 4-1a8 8 0 0 1 4 1v2h4l-1-5-7-1m69 0q-6 0-7 2t-2 8q0 6 2 7t6 2q6 0 7-2t2-8q0-6-2-7t-6-2m0 16-4-1-1-5 1-6 4-1 4 1v11l-4 1m62-16q-5 0-7 2t-1 8l1 7 7 2q5 0 7-2t1-8l-1-7-7-2m0 16-4-1-1-5 1-6 4-1 4 1 1 5-1 6-4 1M92 115v19h4v-19h-4m9 0v19h3v-16l1 2v1l1 2 4 11h3l4-11 1-2 1-2v-1 16h4v-19h-6l-4 9v2l-1 2v1l-1-1v-2l-1-2-3-9h-6m31 0-6 19h4l1-4h8l1 4h4l-6-19h-6m6 13h-6l3-10 3 10m29-13v19h13v-3h-9v-5h8v-3h-8v-5h9v-3h-13m26 0v19h4v-16l1 2v1l1 3 6 10h6v-19h-4v16-2l-1-1-2-3-4-10h-6m41 0v3h5v16h4v-16h5v-3h-14m27 0v19h3v-8h9v-3h-9v-5h9v-3h-12m36 0v13q0 4 2 5t6 1l6-1 2-5v-13h-4v15l-4 1-3-1a3 3 0 0 1-1-2v-13h-4m21 0v19h4v-16 2l1 1 1 3 6 10h6v-19h-4v16l-1-2v-1l-2-3-5-10h-6m23 0v19h9q5 0 6-2t1-9q0-4-2-6t-5-2h-9m8 16h-5v-13h6l3 1v11l-4 1m-195-19 8 2a5 5 0 0 1 1 1 3 3 0 0 1 3-3h13a3 3 0 0 1 3 3v3a3 3 0 0 1-1 3 3 3 0 0 1 1 2v3a3 3 0 0 1-2 2 3 3 0 0 1 2 3v3a3 3 0 0 1-3 3h-13a3 3 0 0 1-3-3 6 6 0 0 1-1 1c-1 2-4 2-8 2l-8-2a3 3 0 0 1-3 2h-4a3 3 0 0 1-2-2l-1-2h-4v2a3 3 0 0 1-3 2h-4a3 3 0 0 1-2-1 3 3 0 0 1-1 1h-4a3 3 0 0 1-3-2 3 3 0 0 1-3 2h-3a3 3 0 0 1-3-2 3 3 0 0 1-3 2h-3a3 3 0 0 1-3-2 3 3 0 0 1-2 2h-4a3 3 0 0 1-3-3v-19a3 3 0 0 1 3-3h4a3 3 0 0 1 2 2 3 3 0 0 1 3-2h6a3 3 0 0 1 2 2l3 6 2-6a3 3 0 0 1 3-2h6a3 3 0 0 1 3 3v11l4-12a3 3 0 0 1 2-2h6a3 3 0 0 1 3 2l3 10 1-7a7 7 0 0 1 4-4 17 17 0 0 1 6-1Zm69 0 8 2a3 3 0 0 1 3-2h14a3 3 0 0 1 3 3v3a3 3 0 0 1-3 3h-2v13a3 3 0 0 1-3 3h-4a3 3 0 0 1-3-3v-13h-2v3l-2 10a8 8 0 0 1-5 3 23 23 0 0 1-5 0c-4 0-7-1-9-3a3 3 0 0 1-3 3h-6a3 3 0 0 1-3-2l-2-4v3a3 3 0 0 1-3 3h-4a3 3 0 0 1-2-3v-19a3 3 0 0 1 3-3h6a3 3 0 0 1 2 2l2 4v-3a3 3 0 0 1 3-3h4a3 3 0 0 1 3 3 7 7 0 0 1 4-3 23 23 0 0 1 6 0Zm1 9a335552 335552 0 0 1-3 0v4a22 22 0 0 0 0 3 15 15 0 0 0 2 0 13 13 0 0 0 1 0 30 30 0 0 0 0-4 33 33 0 0 0 0-3Zm61-9c5 0 7 1 9 3a6 6 0 0 1 1 0 3 3 0 0 1 3-3h3a3 3 0 0 1 3 3v13h3v-13a3 3 0 0 1 3-3h3a3 3 0 0 1 3 2 3 3 0 0 1 2-2h6a3 3 0 0 1 3 2l2 4v-3a3 3 0 0 1 3-3h4a3 3 0 0 1 2 2 3 3 0 0 1 3-2h9a14 14 0 0 1 4 1 8 8 0 0 1 4 2l2 8c0 7-1 9-2 10a7 7 0 0 1-3 3 14 14 0 0 1-5 1h-9a3 3 0 0 1-3-2 3 3 0 0 1-2 2h-6a3 3 0 0 1-3-2l-2-4v3a3 3 0 0 1-3 3h-4a3 3 0 0 1-3-3v-2a6 6 0 0 1-2 3l-8 2-8-2a6 6 0 0 1-2-3 7 7 0 0 1-1 2 8 8 0 0 1-4 2 23 23 0 0 1-5 1c-5 0-8-1-9-3a10 10 0 0 1-2-5 3 3 0 0 1-1 0h-6v5a3 3 0 0 1-3 3h-3a3 3 0 0 1-3-3v-19a3 3 0 0 1 3-3h12a3 3 0 0 1 3 2 8 8 0 0 1 4-2 23 23 0 0 1 5 0Zm1 9h-1a15 15 0 0 0-2 0 32 32 0 0 0 0 4 22 22 0 0 0 0 3 15 15 0 0 0 2 0 13 13 0 0 0 1 0 30 30 0 0 0 1-4 33 33 0 0 0-1-3Zm64 0h-3v7h2a5 5 0 0 0 1 0 17 17 0 0 0 0-4 21 21 0 0 0 0-3Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

img[data-src] {
  position: relative;
  border: $white 2px solid;
  background-color: $grey-50;
  background-image: escape-svg(url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='#{$grey-400}'%3E%3Cpath d='M22 7.8V14l-1.6-1.4a2.2 2.2 0 0 0-2.8 0l-4.2 3.6a2.2 2.2 0 0 1-2.8 0l-.4-.3a2.2 2.2 0 0 0-2.6-.1l-5 3.3a6.7 6.7 0 0 1-.6-2.8V7.8C2 4.2 4.2 2 7.8 2h8.4C19.8 2 22 4.2 22 7.8Z' opacity='.4'/%3E%3Cpath d='M11.4 8A2.4 2.4 0 1 1 9 5.6 2.4 2.4 0 0 1 11.4 8ZM22 13.9v2.3c0 3.6-2.2 5.8-5.8 5.8H7.8c-2.5 0-4.4-1-5.2-3l5-3.3a2.2 2.2 0 0 1 2.6 0l.4.4a2.2 2.2 0 0 0 2.8 0l4.2-3.6a2.2 2.2 0 0 1 2.8 0Z'/%3E%3C/g%3E%3C/svg%3E"));
  background-position: center;
  background-size: 100% 80%;
  background-repeat: no-repeat;
  border-radius: 0.125rem;
  object-fit: contain;
  aspect-ratio: attr(width) / attr(height);
  width: 100%;
  overflow: hidden;
  filter: blur(0.5px);
}

//  animated
@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.animated {
  animation-duration: calc( 1s);
  animation-fill-mode: both;
}

.zoomIn {
  animation-name: zoomIn;
}

//  swal2
.swal2-html-container {
  img {
    margin-bottom: .5rem;
  }
}

.swal2-loader {
  @include position-ab-center;
}

.swal2-image.swal2-image.swal2-image {
  margin: 1rem auto;
  border-radius: 4px;
  width: 90%;
}

.swal2-popup.swal2-popup {
  // padding: 0 2rem;
}