@charset "utf-8";

//  Components > Pace Loading
// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

#logo_loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background-color: darken(rgba($primary, 0.6), 16);
  background-repeat: repeat-y;
  transition: all .25s ease-in-out;
  z-index: 9999;
  animation: splash 2s ease-in forwards;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  overflow: hidden;

  // &:before {
  //   content: '';
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   background-color: darken(rgba($primary, 0.86), 16);
  //   background-repeat: repeat-y;
  //   transition: all .25s ease-in-out;
  //   z-index: 10000;
  //   animation: splash 2s ease-in forwards;
  //   filter: blur(2px);
  // }

  .loader-cnt {
    @include position-ab-center;

    .ani-rocket {
      width: 100%;
      height: 100%;
      animation: rocket 3.6s linear forwards;

      // filter: blur(0px);

      // animation: splash 2s ease-in forwards;
      //
      [data-name="fire"] {
        transform: translate(50%, 0);
      }

      //
      [data-name="rocket"] {
        transform: translate(50%, 0);
      }

      #Rocket_content {
        width: 84px;
        height: 132px;
        transform-origin: center;
        transform: translate(32.5%, 75%);
      }

      #outerFlame {
        transform-origin: bottom center;
        animation: grow 2s infinite alternate;
        animation-timing-function: ease-out;
      }

      #innerFlame {
        transform-origin: bottom center;
        animation: grow 1s infinite alternate;
        animation-timing-function: cubic-bezier(0.6, -0.28, 0.74, 0.05);
        animation-delay: -0.1s;
      }

      #spark {
        animation: flyUp 1s infinite;
      }

      #spark_2 {
        animation: flyUp .4s infinite;
      }
    }
  }
}

@keyframes grow {
  from {
    opacity: 0;
  }

  to {
    pacity: .88;
  }
}

@keyframes flyUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(100px);
  }
}

@keyframes splash {
  0% {
    transform: translate(0%, 0%);
  }

  50% {
    transform: translate(0%, 0%);
  }

  100% {
    transform: translate(0%, -100%);
  }
}

@keyframes rocket {
  0% {
    transform: translate(0%, 110%);
  }

  30% {
    transform: translate(0%, 50%);
  }

  100% {
    transform: translate(0%, 0%);
  }
}